<h1>Questions</h1>
<div class="container">
  <div class="form-group">
  </div>
  <br><br>
  <div class="query-font">
    <label for="">Select Subject</label>
    <select [(ngModel)]="sub_id" class="form-control" (change)="changeSub($event)">
      <option *ngFor="let subject of subjects" [value]="subject.sub_id">{{subject.sub_name}}</option>
    </select>
  </div><br><br>
  <div *ngFor="let question of questions; let index = index" class="query-font seperator">
    <div class="row">
      <div class="col-md-12 question">
        <button style="margin-left: 10px;" (click)="onDelete(question.qs_id)" class="btn btn-danger pull-right"><i
            class="glyphicon glyphicon-trash"></i></button>
        <strong>Question : {{index+1}} - </strong>
        {{question.qs_description}}<br><br>
        a. {{question.qs_opt_one}}<br>
        b. {{question.qs_opt_two}}<br>
        c. {{question.qs_opt_three}}<br>
        d. {{question.qs_opt_four}}<br><br>
        <strong><span class="answer">Answer : {{question.qs_ans}}</span></strong><br><br>
        Description : {{question.qs_ans_description}}<br><br>
        <span class="pull-right qsby">Posted By : {{question.stud_name}}</span>
      </div>
    </div>
  </div>
</div>