<h1>Register</h1>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="login">

            <div class="form">
                <div class="form-group">
                    <label for="">Student Name</label>
                    <input [(ngModel)]="stud_name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Email ID</label>
                    <input [(ngModel)]="stud_email" type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Student PRN</label>
                    <input [(ngModel)]="stud_prn" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Gender</label>
                    <select [(ngModel)]="stud_gender" class="form-control">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input [(ngModel)]="stud_password" type="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Select Profile Pic</label>
                    <input (change)="onSelectFile($event)" type="file" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Birth Date</label>
                    <input [(ngModel)]="stud_bdate" type="date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Select Course</label>
                    <select [(ngModel)]="course_id" class="form-control">
                      <option
                        *ngFor="let course of courses"
                        [value]="course.course_id">{{course.course_name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Select Batch</label>
                    <select [(ngModel)]="batch_id" class="form-control">
                      <option
                        *ngFor="let batch of batches"
                        [value]="batch.batch_id">{{batch.batch_name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <button (click)="onRegister()" class="btn btn-success">Register</button>
                    <a routerLink="/user-login" class="btn btn-danger pull-right">Cancel</a>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>