<nav class="navbar navbar-inverse" *ngIf="isAdmin()">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome Admin</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/student_list">Student</a></li>
      <li><a routerLink="/faculty-list">Faculty</a></li>
      <li><a routerLink="/instruction-list">Instruction</a></li>
      <li><a routerLink="/dailyschedule-list">Daily Schedule</a></li>
      <li><a routerLink="/course-list">Course</a></li>
      <li><a routerLink="/batch-list">Batch</a></li>
      <li><a routerLink="/venue-list">Venue</a></li>
      <li><a routerLink="/subject-list">Subject</a></li>
      <li><a routerLink="/question-list">Question</a></li>
      <li><a routerLink="/query-list">Quries</a></li>
      <li><a routerLink="/factype-list">Faculty Type</a></li>
      <li><a routerLink="/courseco-list">Course Coordinator</a></li>
      <li><a routerLink="/coursesub-list">Course Wise Subject</a></li>
      <li><a routerLink="/studymaterial-list">Study Material</a></li>
      <li><a routerLink="/classtype-list">Class Type</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a><span class="glyphicon glyphicon-user"></span> Welcome {{username}}</a></li>
      <li><a (click)="onAdminLogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-inverse" *ngIf="isFaculty()">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome Faculty</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a><span class="glyphicon glyphicon-user"></span> Welcome {{username}}</a></li>
      <li><a (click)="onLogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-inverse" *ngIf="isStudent()">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome Student</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/instruction-detail">Instruction</a></li>
      <li><a routerLink="/dailyschedule-detail">Daily Schedule</a></li>
      <li><a routerLink="/query-list">Quries</a></li>
      <li><a routerLink="/question-list">Question</a></li>
      <li><a routerLink="/question-add">Add New Question</a></li>
      <li><a routerLink="/studymaterial-detail">Study Material</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a  routerLink="/student-profile"><span class="glyphicon glyphicon-user"></span> Welcome {{username}}</a></li>
      <li><a (click)="onLogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-inverse" *ngIf="isDefault()">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/stud-register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="/student-login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="pull-right">
      <div class="message">Welcome {{username}}
      </div>
      <button (click)="onLogout()" class="btn btn-success ">Logout</button>
    </div>
  </div>
</div> -->

<div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>